*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* sign up section start from here */
.main-page{
    height: 100vh;
    width: 100vw;
    background-color: #f6f5f7;
    display: flex;
}
.left{
    height: 100%;
    width: 50%;
    background-color: #f6f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left h1{
    margin-bottom: 15px;
}
.left .sign-up-google{
    background-color: rgb(193 193 193 / 58%);
    padding: 10px 106px;
    border-radius: 5px;
    margin: 10px;
    margin-top: 26px;
}
.left .sign-up-facebook{
    background-color: rgb(193 193 193 / 58%);
    padding: 10px 101px;
    border-radius: 5px;
    margin: 10px;
}
.left .sign-up-google a{
    text-decoration: none;
    color: black;
}
.left .sign-up-facebook a{
    text-decoration: none;
    color: black;
}
.left .sign-up-google i{
    margin-right: 14px;
}
.left .sign-up-facebook i{
    margin-right: 11px;
}
.left .sign-up-or{
    color: #483f3f;
    margin: 13px;
}
.left .sign-up-form{
    display: flex;
    flex-direction: column;
}
.left #email{
    margin: 10px 15px;
    padding: 11px 108px;
    border-radius: 5px;
    border: 1px solid gray;
}
.left #password{
    margin: 10px 15px;
    padding: 10px 108px;
    border-radius: 5px;
    border: 1px solid gray;
}
.left .sign-up-submit{
    text-align: center;
    margin: 6px;
}
.left #submit{
    margin: 10px;
    padding: 12px;
    text-align: center;
    border-radius: 5px;
    outline: 0;
    border: 0;
    background-color: #2e2e2ec9;
    color: white;
    font-size: 12px;
    cursor: pointer;
}
.left .sign-up-login{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.left .sign-up-login a{
    color: #0a046f;
}
.left .sign-up-login p{
    margin-right: 2px;
}
.left .sign-up-term{
    width: 30%;
    text-align: center;
    line-height: 1.5;
    margin: 20px;
    color: #483f3f;
}
.left .sign-up-term p{
    margin: 0 9px;
    font-size: 14px;
}


.right{
    height: 100%;
    width: 50%;
    background: url(right-side-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* sign up section end here */


/* Log in section start from here */
.main-page-next{
    height: 100vh;
    width: 100vw;
    background-color: #f6f5f7;
    display: flex;
}
.left-next{
    height: 100%;
    width: 50%;
    background-color: #f6f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-next{
    height: 100%;
    width: 50%;
    background: url(right-side-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.left-next h1{
    margin-bottom: 15px;
}
.left-next .sign-in-google{
    background-color: rgb(193 193 193 / 58%);
    padding: 10px 106px;
    border-radius: 5px;
    margin: 10px;
    margin-top: 26px;
}
.left-next .sign-in-facebook{
    background-color: rgb(193 193 193 / 58%);
    padding: 10px 101px;
    border-radius: 5px;
    margin: 10px;
}
.left-next .sign-in-google a{
    text-decoration: none;
    color: black;
}
.left-next .sign-in-facebook a{
    text-decoration: none;
    color: black;
}
.left-next .sign-in-google i{
    margin-right: 14px;
}
.left-next .sign-in-facebook i{
    margin-right: 11px;
}
.left-next .sign-in-or{
    color: #483f3f;
    margin: 13px;
}
.left-next .sign-in-form{
    display: flex;
    flex-direction: column;
}
.left-next #emailx{
    margin: 10px 15px;
    padding: 11px 108px;
    border-radius: 5px;
    border: 1px solid gray;
}
.left-next #passwordx{
    margin: 10px 15px;
    padding: 10px 108px;
    border-radius: 5px;
    border: 1px solid gray;
}
.left-next .sign-in-submit{
    text-align: center;
    margin: 6px;
}
.left-next #submitx{
    margin: 10px;
    padding: 12px;
    text-align: center;
    border-radius: 5px;
    outline: 0;
    border: 0;
    background-color: #2e2e2ec9;
    color: white;
    font-size: 12px;
    cursor: pointer;
}
.left-next .sign-in-forgot-password{
    margin: 8px;
}
.left-next .sign-in-forgot-password a{
    color: #0a046f;
    text-decoration: none;
}
.left-next .sign-in-login{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.left-next .sign-in-login a{
    color: #0a046f;
}
.left-next .sign-in-login p{
    margin-right: 2px;
}
.left-next .sign-in-term{
    width: 30%;
    text-align: center;
    line-height: 1.5;
    margin: 20px;
    color: #483f3f;
}
.left-next .sign-in-term p{
    margin: 0 9px;
    font-size: 14px;
}
/* Log in section end here */


/* Reset password page start from here */

/* In Reset page header section start from here */

.f-main .f-header{
    position: fixed;
    height: 78px;
    width: 100%;
    transition: all 0.5s ease;
    background-color: #232946;
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    box-shadow: -0px 5px 4px #29305091;
}
.f-header .left-side{
    padding-left: 5%;
    text-align: center;
    font-size: 28px;
    color: #fffffe;
    font-weight: 400;
    width: 20%;
}
.f-header .left-side .logo-name{
    position: relative;
    text-align: center;
    bottom: 6px;
}
.f-header .right-side{
    padding-right: 5%;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}
.f-header .right-side .home a{
    padding-top: 5px;
    text-decoration: none;
    color: #fffffe;
}
.f-header .right-side .about-courses a{
    text-decoration: none;
    color: #fffffe;
}
.f-header .right-side .contact a{
    text-decoration: none;
    color: #fffffe;
}
.f-header .right-side a:hover{
    text-decoration: underline;
    color:#fffffe;;
    font-size: 30;
}
.f-header .right-side .sign-up-in-and-profile{
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
}
.f-header .right-side .signup button{
    margin-left: 30px;
    outline: 0;
    border: 0;
    border-radius: 20px;
    padding: 11px 13px;
    background-color:#b8c1ec;
    color: #232946;
    font-size: 15px;
    margin-top: -12px;
    font-size: 16px;
    font-weight: 400;
}
.f-header .right-side .signup button:hover{
    padding: 13px 15px;
    background-color:#fffffe;
}
.f-header .right-side .login button{
    outline: 0;
    border: 0;
    border-radius: 20px;
    padding: 11px 20px;
    background-color:#b8c1ec;
    color: #232946;
    font-size: 15px;
    margin-top: -12px;
    font-size: 16px;
    font-weight: 400;
}

.f-header .right-side .login button:hover{
    padding: 13px 22px;
}

/* In Reset page header section end here */

/* In Reset page body section start from here  */

.f-main .f-body{
    background-color: #25293c;
    padding-top: 100px;
    width: 100%;
    height: calc( 100vh - 218px );
    text-align: center;
}
.f-body h2{
    color: #fffffff2;
    margin-top: 110px;
    margin-left: -142px;
}
.f-body p{
    color: #fffffff2;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: -56px;
}
.f-body #sendx{
    padding: 8px 71px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color:#313963;
    margin: 10px 0;
}
.f-body #sendx:focus{
    border: 1px solid #b8c1ec;
}
.f-body #send-submitx{
    padding: 8px 80px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color:#b8c1ec;
    margin-top: 5px;
    
}

/* In Reset page body section end here */

/* In Reset page footer section start from here  */
.f-footer{
    background-color: #232946;
    width: 100%;
    transition: all 0.5s ease;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);

    grid-template-areas: "box1 box1 box2"
                         "box1 box1 box2"
                         "box3 box3 box3"
                         "box4 box5 box5"    
    ;

    box-shadow:0px -9px 8px #293050f2;
    
}
.f-footer #box1{
    grid-area: box1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
}
.f-footer #box1 .footer-logo{
    margin-right:15%;
    color: #fffffff2;
    font-size: 22px;
}
.f-footer #box1 .about-us .footer-about{
    color: #fffffff2;
    padding-bottom: 15px;
}
.f-footer #box1 .about-us .footer-text h4{
    color: #ffffffa3;
}

.f-footer #box2{
    grid-area: box2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-footer #box2 .facebook-img img{
    object-fit:cover;
    height: 26px;
    border-radius: 5px;
}
.f-footer #box2 .twitter-img img{
    object-fit: fill;
    border-radius: 5px;
    height: 26px;
    width: 29px;
}
.f-footer #box2 .whatsapp-img img{
    object-fit: contain;
    border-radius: 5px;
    height: 26px;
}
.f-footer #box2 .instragum-logo-img img{
    object-fit: contain;
    border-radius: 5px;
    height: 26px;
}
.f-footer #box2 .telegram-logo-img img{
    object-fit:cover;
    border-radius: 5px;
    height: 26px;
    width: 26px;
}
.f-footer #box2 a .footer-logo-img{
    opacity: 0;
    position: relative;
    top: 31px;
    left: 1px;
}
.f-footer #box2 i{
    margin: 2%;
    background-color: #b8c1ec;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(21, 21, 21);
    box-shadow: 1px 1px 10px 2px #b3b5fc45;
}
.f-footer #box2 a:hover .footer-logo-img{
    opacity: 1;
    transition: all 0.2s ease-in-out;
}
.f-footer #box3{
    grid-area: box3;
    padding: 0 130px;
    padding-top: 20px;
}
.f-footer #box3 .footer-line{
    height: 1px;
    margin-top: 2%;
    background-color:#b8c1eca2;
}


.f-footer #box4{
    grid-area: box4;
    text-align: center;
    color: #fffffff2;
    display: flex;
    align-items: center;
    justify-self: center;
}
.f-footer #box4 .in-box4-p:hover{
    text-shadow:1px 1px 4px #7f81b7b8;
}


.f-footer #box5{
    grid-area: box5;
    display: flex;
    justify-content: space-evenly;
    padding-left: 78px;
}

.f-footer #box5 .box5-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-footer #box5 .box5-left .in-box5:hover{
    text-decoration: underline;
}
.f-footer #box5 .box5-left a{
    text-decoration: none;
    padding-left: 50px;
    color: #fffffff2;
}
.f-footer #box5 .box5-right button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    outline: 0;
    border: 0;
    background-color: #b8c1ec;
}
.f-footer #box5 .box5-right button .fa-angles-up{
    color: black;
}

/* In Reset page footer section end here */

/* Reset password page end here */