*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-page{
    height: 100vh;
    width: 100vw;
    background-color: #f6f5f7;
    display: flex;
}
.left{
    height: 100%;
    width: 56%;
    background-color: #f6f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left h1{
    margin-bottom: 15px;
}
.left .sign-up-google{
    background-color: rgb(193 193 193 / 58%);
    padding: 10px 106px;
    border-radius: 5px;
    margin: 10px;
    margin-top: 26px;
}
.left .sign-up-facebook{
    background-color: rgb(193 193 193 / 58%);
    padding: 10px 101px;
    border-radius: 5px;
    margin: 10px;
}
.left .sign-up-google a{
    text-decoration: none;
    color: black;
}
.left .sign-up-facebook a{
    text-decoration: none;
    color: black;
}
.left .sign-up-google i{
    margin-right: 14px;
}
.left .sign-up-facebook i{
    margin-right: 11px;
}
.left .sign-up-or{
    color: #483f3f;
    margin: 13px;
}


.left .sign-up-form{
    display: flex;
    flex-direction: column;
}
.left #email{
    margin: 10px 15px;
    padding: 11px 108px;
    border-radius: 5px;
    border: 1px solid gray;
}
.left #password{
    margin: 10px 15px;
    padding: 10px 108px;
    border-radius: 5px;
    border: 1px solid gray;
}
.left .sign-up-submit{
    text-align: center;
    margin: 6px;
}
.left #submit{
    margin: 10px;
    padding: 12px;
    text-align: center;
    border-radius: 5px;
    outline: 0;
    border: 0;
    background-color: #2e2e2ec9;
    color: white;
    font-size: 12px;
}
.left .sign-up-login{
    display: flex;
    margin-top: 10px;
}
.left .sign-up-login p{
    margin-right: 2px;
}
.left .sign-up-term{
    width: 30%;
    text-align: center;
    line-height: 1.5;
    margin: 20px;
    color: #483f3f;
}
.left .sign-up-term p{
    margin: 0 9px;
    font-size: 14px;
}


.right{
    height: 100%;
    width: 44%;
    background: url(right-side-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
