


@media only screen and (max-width: 992px){
    .sidebar li a i{
        visibility: hidden;
    }
    .sidebar.active li a i{
        visibility: visible;
        transition: all 0.5s ease;
    }
    .logo-content #btn{
        z-index: 99;
        color: red;
        visibility:visible;
    }
    .sidebar{
        visibility: hidden;
     }
    .sidebar.active{
        visibility: visible;
        width: 50%;
        z-index: 100;
        transition: all 0.5s ease;
    }
    .sidebar .search{
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
    }
   .sidebar.active .search{
        visibility: visible;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .sidebar ul li .links-name{
        left: -100px;
        flood-opacity: 1;
    }
    .sidebar.active ul li .links-name{
        left: 0;
        flood-opacity: 0;
        transition: all 0.5s ease;
    }

    .sidebar.active .profile-content #log-out{
        transition: none;
        visibility: visible;
        opacity: 1;
        transition: all 0.5s ease;
    } 
    .sidebar .profile-content #log-out{
        visibility: hidden;
        opacity: 0;
        left:-20px;
        transition: all 0.5s ease;
    }





    .home-content{
        position: absolute;;
        height: 100%;
        width: calc(100%-10%);
        margin-left: 10%;
        z-index: 80;
    }
    .sidebar.active ~ .home-content{
        width: 90%;
        margin-left:10%;
        z-index: 80;
    }
    
}